<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="<%= themeColor %>">
<meta name="app-version" content="<%= appVersion %>">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="MJ Stock Magic">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<title><%= pageTitle %></title>
<link rel="manifest" href="<%= assetWithVersion('/manifest.webmanifest') %>">
<link rel="icon" href="<%= assetWithVersion('/mjstock-icon-192-v2011.png') %>" type="image/png">
<link rel="apple-touch-icon" href="<%= assetWithVersion('/mjstock-apple-touch-v2011.png') %>">
<link rel="stylesheet" href="<%= assetWithVersion('/styles.css') %>">
<%- headExtras %>
